php_flag display_errors on

RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Tasks
RewriteRule    ^tasks/([0-9]+)$          v1/controller/task.php?taskid=$1    [L]
RewriteRule    ^tasks/complete$          v1/controller/task.php?completed=Y     [L]
RewriteRule    ^tasks/incomplete$        v1/controller/task.php?completed=N    [L]
RewriteRule    ^tasks/page/([0-9]+)$     v1/controller/task.php?page=$1    [L]
RewriteRule    ^tasks$                   v1/controller/task.php     [L]